<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="col-md-3">
        <h3>Add Book</h3>
        <form onsubmit="formSubmit(event, this); return false;" autocomplete="off">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              placeholder="Enter Title"
              required
            />
          </div>
          <div class="form-group">
            <label for="author">Author</label>
            <input
              type="text"
              class="form-control"
              id="author"
              placeholder="Enter Author"
              required
            />
          </div>
          <div class="form-group">
            <label for="website">Website</label>
            <input
              type="text"
              class="form-control"
              id="website"
              placeholder="Enter Website"
              required
            />
          </div>
          <button type="reset" class="btn btn-danger">Reset</button>
          <button type="submit" class="btn btn-success">Add Book</button>
        </form>
      </div>
      <div class="col-md-9">
        <h3>Book List</h3>
        <table id="books__table" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Author</th>
              <th>Website</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <script src="/jquery.min.js"></script>
    <script>
      function formSubmit(event, form) {
        event.preventDefault();
        const author = form.elements.author.value;
        const title = form.elements.title.value;
        const website = form.elements.website.value;
        let book = {
          author,
          title,
          website,
        };
        form.reset();
        $.ajax({
          type: "POST",
          url: "http://localhost:3400/books/new",
          data: book,
          success: function (res) {
            loadTable();
          },
          dataType: "json",
        });
      }
      function loadTable() {
        $.ajax({
          type: "GET",
          url: "http://localhost:3400/books",
          success: function (books) {
            let books__table = $("#books__table");
            let books__tbody = books__table.find("tbody");
            books__tbody.empty();
            if(!books || (books && books.length==0)){
              books__tbody.append(`
                <tr><td colspan="5" class="text-center">Nothing Found</td></tr>
              `)
              return;
            }
            books.forEach(function ({ author, title, website, _id }, index) {
              books__tbody.append(`
              <tr>
                <td>${index + 1}</td>
                <td><label class="view_label">${title}</label><input autocomplete="off" class="form-control" name="title" style="display:none;" value="${title}"/></td>
                <td><label class="view_label">${author}</label><input autocomplete="off" class="form-control" name="author" style="display:none;" value="${author}"/></td>
                <td><label class="view_label">${website}</label><input autocomplete="off" class="form-control" name="website" style="display:none;" value="${website}"/></td>
                <td>
                  <div class="view-content">
                    <button class="btn btn-default" onclick="editBook(this,'edit')">Edit</button>
                    <button class="btn btn-danger" onClick="deleteBook('${_id}')">Delete</button>
                  </div>
                  <div class="edit-content" style="display:none;">
                    <button class="btn btn-success" onClick="updateBook('${_id}', this)">Update</button>
                    <button class="btn btn-defautl" onClick="editBook(this, 'cancel')">Cancel</button>
                  </div>
                </td>
              </tr>`);
            });
          },
        });
      }

      function deleteBook(id) {
        /* API request to delete the book */
        $.ajax({
          type: "DELETE",
          url: "http://localhost:3400/books/" + id,
          success: function (books) {
            loadTable();
          },
          error: function () {
            alert("error while deleting");
          },
        });
      }

      function updateBook(id, elm) {
        /*API request to update the book and reload complete books*/

        let book = {};
        $(elm)
          .closest("tr")
          .find("input")
          .each(function (ind, element) {
            book[element.getAttribute("name")] = element.value;
          });

        $.ajax({
          type: "PUT",
          url: "http://localhost:3400/books/" + id,
          data: book,
          success: function () {
            loadTable();
          },
          error: function () {
            alert("error while updating");
          },
        });
      }

      function editBook(elm, action) {
        /* editBook method - for show/hide elements */
        const closestRow = $(elm).closest("tr");
        const closestTable = closestRow.closest("table");

        if (action == "edit") {
          closestTable.find("input").hide();
          closestRow.find("label, .view-content").hide();
          closestRow.find("input, .edit-content").show();
          return;
        }

        if (action == "cancel") {
          closestRow.find("label, .view-content").show();
          closestRow.find("input, .edit-content").hide();
        }
      }
      /* load books on init */
      loadTable();
    </script>
  </body>
</html>
